*.class
*.log

# these are moved into the doc project by the build
modules/docs/src/main/tut/changelog.md
modules/docs/src/main/tut/license.md

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.worksheet/
bin/
.settings/

# OS X
.DS_Store

# Ctags
.tags

# ENSIME
.ensime
.ensime_cache/

# IntelliJ
.idea/
